@model IEnumerable<Zerohunger.EF.Collection_Logs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Collection_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distribution_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distribution_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Collect_Requests.Collection_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Collection_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distribution_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distribution_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Collect_Requests.Collection_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Log_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Log_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Log_id })
        </td>
    </tr>
}

</table>
